@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');



.LB1 {
    width: 10em;
    height: 10em;
    border-width: 1em;
    border-color: rgb(255, 102, 0);
    color: black;
    background-color: aquamarine;
}

@media only screen and (max-width: 600px) {
  
}
