@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');

.bracket {
    background-color: black;
    width: 10em;
    height: 44em;
    float: left;
} 

.versus {
    background-color:black;
    width: 9em;
    height: 5em;
}

.team {
    background-color:grey;
    width: 8em;
    height: 2em;
}

p {
    margin: 0.2em;
}

.bracketContainer {
    height: 48em;
}

@media only screen and (max-width: 600px) {
  
}
